body{
    color:white;
    background-color:black;
    font-family: -apple-system, BlinkMacSystemFont, Arial, 'Times New Roman';
}

h1{
    font-family:'Trebuchet MS' !important;
}
h4{
    font-family:'Times New Roman' !important;
}
nav{
    background-color:blueviolet;
    color:red;
}
nav a{
    text-decoration:none;
    color:red;
}
#pagename{
    float:right;
}
