body{
	background-color:black;
	color:white;
	font-family:arial;
}
h1{
	font-family:"Trebuchet MS";
}
h2, .blog{
	font-family:"Times New Roman";
}

.navlinkad, .blog, .aboutme, .webwring, .hyperlinks, .projects, .trapixen{
	border:solid;
	text-align:left;
	padding:1%;
}

.aboutme p{
	font-size:12px;
}
.hyperlinks{
	overflow:auto;
}
.projects{
	font-size:12px;
	width:1000px;
}
#projects{
	overflow:auto;
	height:150;
}
